<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-create-products-combination">
    <div class="modal fade" id="createProductsCombinationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Create Variable</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="frmCreateProductCombination" enctype="multipart/form-data">
                        <fieldset class="row g-3">
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Title</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="productCombinationTitleCreate" name="productTitleCreate"
                                               class="form-control"/>
                                        <input type="hidden" id="productIdCreate" name="productIdCreate"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Category</label> <br>
                                        <select class="form-select" id="categoryProductCombinationCreate"  name="categoryProductCombinationCreate"></select>
                                    </div>
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Subcategory</label><br>
                                        <select class="form-select" id="subcategoryProductCombinationCreate" name="subcategoryProductCombinationCreate"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Color</label> <br>
                                        <select class="form-select" id="colorCreate"  name="colorCreate"></select>
                                    </div>
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Size</label><br>
                                        <select class="form-select" id="sizeCreate" name="sizeCreate"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Unit price</label> <br>
                                        <input type="number" class="form-control" id="unitPriceCreate"  name="unitPriceCreate"/>
                                    </div>
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Total stock</label> <br>
                                        <input  class="form-control" id="quantityStockCreate"  name="quantityStockCreate"/>
                                    </div>
                                    <div class="col">
                                        <label class="col-sm-12 col-form-label">Maximum Retail Price</label><br>
                                        <input class="form-control" id="maximumRetailPriceCreate" name="maximumRetailPriceCreate"/>
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-sm-12 col-form-label">Description</label>-->
<!--                                    <div class="col-sm-12">-->
<!--                                        <textarea name="descriptionProductCreate" id="descriptionProductCreate" cols="50" rows="4"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="mb-3 col-md-6">
                                <section>
                                    <div class="container">
                                        <div class="wrapper">
                                            <div class="image">
                                                <img src="" alt="" id="imagePreviewProductsCombinationCreate">
                                            </div>
                                            <div class="content">
                                                <div class="icon">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                                <div class="text">
                                                    No file chosen, yet!
                                                </div>
                                            </div>
                                            <div id="cancel-btn">
                                                <i class="fas fa-times"></i>
                                            </div>
                                            <div class="file-name">
                                                File name here
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <button class="btn btn-outline-secondary buttonImage" type="button"
                                                        id="imageFileBtnProductsCombinationCreate">Choose a file
                                                </button>
                                                <br>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-outline-danger buttonImage" type="button"
                                                        id="cancelImageProductsCombinationCreate">Remove
                                                    image
                                                </button>
                                            </div>

                                            <input id="imageFileCreate" type="file" accept="image/jpeg, image/png"
                                                   hidden>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnCreateProductCombination" class="btn btn-outline-primary">Create</button>
                </div>
            </div>
        </div>
    </div>


</th:block>